fastapi==0.78.0
h11==0.12.0
starlette==0.19.1
typing-extensions==3.10.0.2
uvicorn==0.17.6
asyncpg==0.24.0
pytest==6.2.4
requests==2.26.0
gunicorn==20.1.0
pandas==1.4.2
tortoise-orm[asyncpg]==0.19.1
# redis=4.3.1